body {

    background: url("../images/Honeymooners_Background.jpg");

    background-attachment: fixed;

}

#header_honeymooners {

    text-align: center;

    color: green;
    
    font-size: 60px;
    
    font-weight: 800;
    
    text-shadow: 3px 3px 3px white;

    background: yellow;

    border-style: inset;

    border-color: black;
    
    }


#start_container {

    background-color: white;

    font-weight: 600;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 2px;
    
    text-align: center;

    border-style: double;
    
    border-width: 10px;
    
    border-color:goldenrod;
    
    margin-right: 33%;

    margin-left: 33%;

    margin-top: 285px;

    box-shadow: 5px 5px;

}

#start_button {

    font-size: 30px;

    border-style: solid;

    border-color: black;

    border-width: 3px;

    font-family: 'Times New Roman', Times, serif;

    font-size: 30px;

    font-weight: 1000;

    height: 50px;

    width: 115px;

}

#h_mid_game {

    float: right;

}

#game_container { 

background-color: white;

text-align: center;

border-style: solid;

border-width: 5px;

border-color: goldenrod;

opacity: .9;


}


.quest {

    text-align: left;

    font-weight: 800;

    font-family: 'Times New Roman', Times, serif;

}


#done_button {

    font-size: 30px;

    border-style: solid;

    border-color: black;

    border-width: 10px;

    color: red;

    font-family: 'Times New Roman', Times, serif;

    font-size: 50px;

    font-weight: 800;

}

#end_container {

    padding-bottom: 50px;

    margin-right: 30%;

    margin-left: 30%;

    margin-top: 10%;

    font-weight: 900;

    font-size: 2px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: white;

    border-style: double;

    border-width: 10px;

    border-color: red;

    border-radius: 15px;

    opacity: .8;

    box-shadow: 5px 5px;

    padding-left: 8px;

    padding-top: 25px;

}

#great_one {

    text-decoration: underline;
}